PORT=3015
HOST=http://127.0.0.1
isProd=false
disableEmail=false
DB_URL= mongodb://127.0.0.1:27017/phoneawaybox
SUPER_ADMIN_RESET_PASS_URL =<frontend reset password url> 
SCHOOL_ADMIN_RESET_PASS_URL =<frontend reset password url> 
SCHOOL_ADMIN_LOGIN_URL = <frontend login url>

JWT_ADMIN_PK = 
JWT_SCHOOL_ADMIN_PK = 
JWT_STUDENT_PK = 

SMTP_SENDER_NAME=
SMTP_SENDER_EMAIL=
SMTP_SERVER=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SUPPORT_EMAIL=

    
TWILIO_FROM=
TWILIO_SID=
TWILIO_TOKEN=
SMS_ENABLE=false

UTC_OFFSET=330

STATIC_STUDENT=

ANDROID_URL=
IOS_URL=

AWAY_BOX_LIMIT=20
NOTIFICATION_RESEND_TIMER=30    
STUDENT_EMAIL_REPORT_TIMER=5
